html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    min-width: 100vh;
    margin: 0;
    padding: 0;
    font-size: 18pt;
}
.navigace {
    background-color: darkgreen;
    text-align: center;
    vertical-align: middle;
    min-width: 100vh;
    height: 50px;
    line-height: 50px;
}

.navigace a {
    font-weight: bold;
    font-size: 20pt;
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: 25px 30px;
}

div {
    margin: 0;
}

.blok {
    text-align: center;
    padding: 0;
    margin: 0;

}

.blok_cerveny {
    background-color: #F09275;
}

.blok_zluty {
    background-color: #F0D97F;
}

.blok_oranzovy {
    background-color: #F0A97E;
}

h1, h2 {
    text-align: center;
    color: darkgreen;
    margin: 0;
    padding: 15px;
}

p {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    display: table;
    margin: 0;
}

.titulek {
    font-weight: bold;
}

.fotka {
    float: left;
    padding: 10px;
}

.obrazek {
    float: right;
    padding: 10px;
}

.zaoblene_rohy {
    border-radius: 10px;
}

.zaoblena {
    border-radius: 90px;
}

.clear {
    clear: both;
}
